/* PostItem */
.Post_Wrapper{
    width: 344px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-radius: 8px;
    cursor: pointer;
    background: white;
    color: #333333;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

}

.Post_Wrapper:hover{
    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
}

.thumbnail{
    width: 100%;
    height: 245px;
}

.thumbnail > img{
    width: 100%;
    height: 100%;
}

.textContainer{
    max-width: 344px;
    height: 156px;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h3{
    font-size: 20px;
    margin: 0px;
}
.textContainer > p{
  width: 100%;
  font-size: 16px;
  margin: 0px;
}

.Post_Title{
    font-size: 20px;
    font-weight: 500;
}
.profilecontainer{
    width: -webkit-fill-available;
    display: flex;
    max-width: 344px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;

}

.userid{
    
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    margin: 0px 0px 0px 10px;
}

.profilecontainer > img{
    border-radius: 9999px;
    width: 32px;
    min-width: 32px;
    height: 32px;
    background-color: #999999;
}

.days{
    min-width: 65px;
    text-align: right;
    font-size: 12px;
    color: #999999;
}

/* PostList */
.PostList_Wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.PostList_Wrapper > *:not(:last-child) {
    margin-bottom: 16px;
}

/* CommentItem */
.Comment_Wrapper{
    width: calc(100% - 48px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    border-bottom: 0.5px solid #99999960;
}

.Comment_Content{
    font-size: 16px;
    white-space: pre-wrap;
    margin: 0;
    
}

/* CommentList */
.CommentList_Wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.maincontainer{
    top: 240px;
    --grid-col : 4;
   width: 100%;
   display:grid;
   grid-template-columns: repeat(var(--grid-col), 1fr);
   gap: 20px 16px;
   padding: 120px 0px 0px 0px;

}


.userprofilecontianer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    background-image: var(--backimg);
    background-position: center;
    width: 100vw;
    height: 500px;
}

.userprofile{
    width: 340px;
    height: 340px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: solid 10px #ffffff;
   }


   .intro{
    color: #999999;
   }

   .profileUserprofile{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 1440px;
   }

   .blur{
    background-color: #33333380;
    position: absolute;
    width: 100%;
    height : 100%;
    z-index: 1;
   }

   .whitestack{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50%;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
   }

   .profile{
    display: flex;
    gap: 10px;
    align-items: center;
   }

   .imgcon{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-image: url(https://bot-log-product.s3.ap-northeast-2.amazonaws.com/product/tving/still/P001599424-%EB%84%A4%EB%AA%A8%EB%B0%94%EC%A7%80_%EC%8A%A4%ED%8F%B0%EC%A7%80%EB%B0%A5_%EC%8B%9C%EC%A6%8C9.jpeg);
    background-position: center;
    background-size: cover;
    }

    .textcon{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

    }

    .textcon > * {
        margin: 0px;
        font-size: 12px;
    }

    .textcon > :first-child{
        color: #333333 ;
        font-weight: 700;
    }

    .textcon > :last-child{
        color: #999999 ;
    }