.Page_Wrapper{
    padding: 16px;
    width: 1196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Page_Container{
    width: 100%;
    max-width: 720px;
}

.Page_Container > *:not(:last-child) {
    margin-bottom: 16px;
}

.Post_Container{
    padding: 8px 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

.Title_Text{
    font-size: 28px;
    font-weight: 500;
}

.Content_Text{
    font-size: 20px;
    line-height: 32px;
    white-space: pre-wrap;
}

.Comment_Label{
    font-size: 16px;
    font-weight: 500;
}

