html{
    background-color: #f7f7f7;
}

.Page_Wrapper{
    position: relative;
    padding: 16px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 60px auto;
    gap: 12px;
}

.Page_Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.Page_Container > *:not(:last-child) {
    margin-bottom: 16px;
}

.Post_Container{
    padding: 8px 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

.Title_Text{
    font-size: 28px;
    font-weight: 500;
}

.Content_Text{
    font-size: 20px;
    line-height: 32px;
    white-space: pre-wrap;
}

.Comment_Label{
    font-size: 16px;
    font-weight: 500;
}

.textWrapper{
    width: 100%;
    white-space: pre-wrap;
}

h1{
    width: 100%;
    font-size: 40px;
    height: auto;
    margin-bottom: 4px !important;
}

.text{
    width: 100%;
}

.Comment_Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #99999960;
}


.day{
    font-size: 16px;
    color: #33333380;
   }


   .btnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
   }