.borderedButton{
    padding : 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    width: auto;
    cursor: pointer;
    border: none;
    color: #FFF;
    font-weight: 700;
    background-color: #007ED9;
    margin: var(--margin);
}

.smallButton{
    position: absolute;
    left: -24px;
    /* 글쓰기 버튼의 크기 더하기 패딩값 */
    bottom: 90px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #33333320;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 0;
}

.smallButton:hover{
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #33333370;
    cursor: pointer;
    background-color: #33333340;
    padding: 0;
}
