.borderedButton{
    padding : 8px 16px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 8px;
    cursor: pointer;
}

.smallButton{
    position: absolute;
    left: -24px;
    bottom: 36px;
    width: auto;
    height: 24px;
    font-size: 24px;
    color: #33333320;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
}

.smallButton:hover{
    width: auto;
    height: 24px;
    font-size: 24px;
    color: #33333370;
    cursor: pointer;
    background-color: #33333340;
}

.Textinputcontainer{
    position : relative;
    width : 100%;
    display : flex;
}