.borderedButton{
    padding : 8px 16px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 8px;
    cursor: pointer;
}

.smallButton{
    position: absolute;
    left: -24px;
    /* 글쓰기 버튼의 크기 더하기 패딩값 */
    bottom: 56px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #33333320;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 0;
}

.smallButton:hover{
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #33333370;
    cursor: pointer;
    background-color: #33333340;
    padding: 0;
}
