.borderedButton {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  width: auto;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 700;
  background-color: #007ed9;
  margin: var(--margin);

  transition: 0.2s;
}

.borderedButton:hover {
  background-color: #006dbc;
  margin: var(--margin);
}

.borderedButton:active {
  background-color: #004c82;
}

.smallButton {
  position: absolute;
  left: -36px;
  /* 글쓰기 버튼의 크기 더하기 패딩값 */
  bottom: -32px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #33333320;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 0;
}

.smallButton:hover {
  color: #33333370;
  cursor: pointer;
  background-color: #33333340;
  padding: 0;
}

.smallButton:active {
  color: #33333370;
  background-color: #33333360;
}
