.scrollitem{
    width: 300px;
    height: 50px;
    display: flex;
    padding-left: 12px;
    align-items: center;
    gap: 12px;
}
.scrollitem:hover{
    width: 300px;
    height: 50px;
    display: flex;
    padding-left: 12px;
    background-color: #b9b9b9;
    border-radius:  4px;
    align-items: center;
    gap: 12px;
}

.smimg{
    width: 24px;
    height: 24px;
    color: #666666;
}

.scrolllist > span {
    width: auto;
    padding: 8px 12px;
    color: #666666;
    font-weight: 600;
}

.scrolllist{
    position: absolute;
    z-index: 8;
    width: auto;
    height: auto;
    padding: 4px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    bottom: -200px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 8px 0px;

}


.code{
    display: flex;
}


input[type = file]{
 display: none;
}
/* img */
.Imgcontainer{
	width: auto;
	max-width: 100%;
}

.Imgcontainer > img {
	width: 100%;
}